In [41]:
# Import libraries
import pandas as pd

In [42]:
transit_trams = pd.read_csv('./data/transit_relacio_trams.csv')

In [43]:
transit_trams.head()

,Tram,Descripció,Coordenades
0,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
1,2,Diagonal (Doctor Marañón a Ronda de Dalt),"2.111944376806616,41.38446666680338,2.10159408..."
2,3,Diagonal (Doctor Marañón a Pl. Pius XII),"2.112093343037027,41.38422850920645,2.12264979..."
3,4,Diagonal (Pl. Pius XII a Doctor Marañón),"2.122592049318304,41.38719094189204,2.11196902..."
4,5,Diagonal (Pl. Pius XII a Pl. Maria Cristina),"2.122657659295115,41.38694195794678,2.12755961..."

In [44]:
transit_trams['Coordenades'].str.split(',', expand=True).loc[:,:1].isnull().sum()

0    0
1    0
dtype: int64

In [45]:
coordinates = transit_trams['Coordenades'].str.split(',', expand=True).loc[:,:1]
coordinates.columns = ['Longitude', 'Latitude']
coordinates.head()

           Longitude           Latitude
0   2.11203535639414   41.3841912394771
1  2.111944376806616  41.38446666680338
2  2.112093343037027  41.38422850920645
3  2.122592049318304  41.38719094189204
4  2.122657659295115  41.38694195794678

In [46]:
print(transit_trams.shape)
print(coordinates.shape)

(492, 3)
(492, 2)

In [47]:
transit_trams_clean = pd.concat([transit_trams, coordinates], axis=1)
transit_trams_clean = transit_trams_clean[['Tram', 'Descripció', 'Latitude', 'Longitude']]
transit_trams_clean.head()

,Tram,Descripció,Latitude,Longitude
0,1,Diagonal (Ronda de Dalt a Doctor Marañón),41.3841912394771,2.11203535639414
1,2,Diagonal (Doctor Marañón a Ronda de Dalt),41.38446666680338,2.111944376806616
2,3,Diagonal (Doctor Marañón a Pl. Pius XII),41.38422850920645,2.112093343037027
3,4,Diagonal (Pl. Pius XII a Doctor Marañón),41.38719094189204,2.122592049318304
4,5,Diagonal (Pl. Pius XII a Pl. Maria Cristina),41.38694195794678,2.122657659295115

In [48]:
transit_trams_clean.to_csv("./data/transit_trams.csv")